@import "pandakit.color.css";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

body {
	margin: 0 auto;
}

body, html { color: #38394B; }

.logo {
	margin: 20px 40px;

}

h1 {
	text-transform: uppercase;
	color: #c89666;
	font-family: sans-serif;
}