.white { background-color: #ffffff; }
.tan { background-color: #fceed1; }
.sand-tan { background-color: #e1b382; }
.sand-tan-shadow { background-color: #c89666; }
.coral-pink { background-color: #ff5e6c; }
.sleuthe-yellow { background-color: #feb300; }
.pink { background-color: #ffaaab; }
.grassy-green { background-color: #9bc400; }
.blue-water { background-color: #39a0ca; }
.yellow { background-color: #ffde22; }
.grey-blue-leaf { background-color: #4f5f76; }
